body {
  scroll-behavior: smooth;
}

.showcase {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  border: 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--primary-color) url(src/lofi_sky2.png) no-repeat center center center/cover;
}

.video-container video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

h1, h2, h3, h4, p {
  font-family: 'VT323', monospace;
  color: white;
  text-align: center;
  position: relative;
}      

.paragrafo {
  font-family: 'VT323', monospace;
  color: white;
  font-size: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.par-link {
  text-decoration: none;
  color: white;
  background-color: blue;
}

.titolo {
  font-size: 2.5vh;
}

.topnav {
  font-family: 'VT323', monospace;
  padding-top: 1vh;
  font-size: 3.5vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.whitelink {
  text-decoration: none;
  color: white;
  background-color: blue;
  text-transform: uppercase;
}

.active {
  font-family: 'VT323', monospace;
  text-decoration: none;
  color: blue;
  background-color: white;
  text-transform: uppercase;
}

.corpo {
  font-family: 'VT323', monospace;
  font-size: 3.5vh;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding-left: 1vw;
  padding-right: 1vw;
}

.inizio {
    font-family: 'VT323', monospace;
    font-size: 3.5vh;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.topnav a:hover {
  color: blue;
  background-color: white;
}

.inizio a:hover {
  color: blue;
  background-color: white;
}

.out a:hover {
  color: blue;
  background-color: white;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

.track {
  position: relative;
}

.social {
  text-align: center;
  color: white;
  background-color: blue;
  padding-top: 0.6vh;
  padding-right: 0.6vh;
  padding-left: 0.6vh;
}

.albero {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wireframe {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dati {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
